@tailwind base;
@tailwind components;
@tailwind utilities;

#close-icon{
  fill: rgb(198, 198, 198);
}

#search-icon{
  fill: rgb(246, 244, 244);
}

#cart-icon{
  opacity: 80%;
}

#open-menu-icon{
  height: 3rem;
  width: 3rem;
}

body{
  background-color: #d1cdae;
}

#page-logo{
  height: 5rem;
  width: 5rem;
}